@model Web.Models.Genres.DeleteGenreViewModel

<h1>Delete genre</h1>

<h4>Do you really want to delete this genre?</h4>

<div>
    <h5>Title: @Model.Name</h5>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id"></hidden>
    <button type="submit" class="btn btn-danger">Delete</button><br />
    <br>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>